body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
}
p {
  margin: 0 auto;
}

p:first-letter {
  text-transform: capitalize;
}

li {
  list-style: none;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.weather-icon img {
  padding-top: -20px;
  height: 70px;
  width: 70px;
}
#symbol {
  padding-top: 20px;
  font-size: 15px;
  top: -42px;
}
#temperature {
  float: left;
  font-size: 70px;
  color: rgb (33, 33, 33);
  font-weight: 400;
}
#search-form {
  font-size: 18px;
}
